.home {
  max-width: 500px;
  max-height: 400px;
  overflow: hidden;
  margin: 10px  auto;
  animation-name: fade-in-top;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;

  /* shorthand
		animation: fade-in-top 1s linear 0s 1 normal none;*/
}

@keyframes fade-in-top {

  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}